{% extends 'home/base.html' %}
{% load static %}

{% block body %}

<!-- Start Middle -->
<div id="middle">
<div class="middle_inner">
<div class="content_wrap fullwidth">

<!-- Start Content -->
<div class="middle_content entry"></div></div><div id="cmsmasters_row_17l0xszmc1" class="cmsmasters_row cmsmasters_color_scheme_default cmsmasters_row_top_default cmsmasters_row_bot_default cmsmasters_row_boxed">
<div class="cmsmasters_row_outer_parent">
<div class="cmsmasters_row_outer">
<div class="cmsmasters_row_inner">
<div class="cmsmasters_row_margin">
<div id="cmsmasters_column_cwl1060n77" class="cmsmasters_column one_first">
<div class="cmsmasters_column_inner"><div id="cmsmasters_heading_ax2q7aoimz" class="cmsmasters_heading_wrap cmsmasters_heading_align_center">
	<h2 class="cmsmasters_heading">Do you need an urgent payday loan?</h2>
</div>
</div></div>
</div>
</div>
</div>
</div>
</div>
<div id="cmsmasters_row_tex7yuzb7m" class="cmsmasters_row cmsmasters_color_scheme_default cmsmasters_row_top_default cmsmasters_row_bot_default cmsmasters_row_boxed">
<div class="cmsmasters_row_outer_parent">
<div class="cmsmasters_row_outer">
<div class="cmsmasters_row_inner">
<div class="cmsmasters_row_margin">
<div id="cmsmasters_column_1bvjtzu6hh" class="cmsmasters_column one_first">
<div class="cmsmasters_column_inner"><div id="cmsmasters_heading_oieby8v4w9" class="cmsmasters_heading_wrap cmsmasters_heading_align_center">
	<h2 class="cmsmasters_heading">How The Funding Process Works</h2>
</div>
</div></div>
</div>
</div>
</div>
</div>
</div>
<div id="cmsmasters_row_toe7wah20f" class="cmsmasters_row cmsmasters_color_scheme_default cmsmasters_row_top_default cmsmasters_row_bot_default cmsmasters_row_boxed">
<div class="cmsmasters_row_outer_parent">
<div class="cmsmasters_row_outer">
<div class="cmsmasters_row_inner cmsmasters_row_no_margin">
<div class="cmsmasters_row_margin cmsmasters_row_columns_behavior">
<div id="cmsmasters_column_qpnjikcdka" class="cmsmasters_column one_half">
<div class="cmsmasters_column_inner"><div id="cmsmasters_heading_qena5hrou6" class="cmsmasters_heading_wrap cmsmasters_heading_align_left">
	<h2 class="cmsmasters_heading">Submit your request</h2>
</div><div class="cmsmasters_text">
<p>Answer a few questions and, in just a few minutes, see which loan products you qualify for.</p>
</div>
</div></div>
<div id="cmsmasters_column_9qlzvogobn" class="cmsmasters_column one_half">
<div class="cmsmasters_column_inner"></div></div>
</div>
</div>
</div>
</div>
</div>
<div id="cmsmasters_row_lggzsriex4" class="cmsmasters_row cmsmasters_color_scheme_default cmsmasters_row_top_default cmsmasters_row_bot_default cmsmasters_row_boxed">
<div class="cmsmasters_row_outer_parent">
<div class="cmsmasters_row_outer">
<div class="cmsmasters_row_inner cmsmasters_row_no_margin">
<div class="cmsmasters_row_margin cmsmasters_row_columns_behavior">
<div id="cmsmasters_column_vi3am3tpxm" class="cmsmasters_column one_half">
<div class="cmsmasters_column_inner"></div></div>
<div id="cmsmasters_column_iq519uzbdq" class="cmsmasters_column one_half">
<div class="cmsmasters_column_inner"><div id="cmsmasters_heading_x42fvmivjo" class="cmsmasters_heading_wrap cmsmasters_heading_align_left">
	<h2 class="cmsmasters_heading">Your company approves</h2>
</div><div id="cmsmasters_fb_avsg20lsg" class="cmsmasters_featured_block">
<div class="featured_block_inner">
<div class="featured_block_text"><p>And just like that, you&#8217;ve got financing to grow your business. Breathe easy knowing you got the best deal.</p>
</div>
</div>
</div>
</div></div>
</div>
</div>
</div>
</div>
</div>
<div id="cmsmasters_row_2l3iuuyh1o" class="cmsmasters_row cmsmasters_color_scheme_default cmsmasters_row_top_default cmsmasters_row_bot_default cmsmasters_row_boxed">
<div class="cmsmasters_row_outer_parent">
<div class="cmsmasters_row_outer">
<div class="cmsmasters_row_inner cmsmasters_row_no_margin">
<div class="cmsmasters_row_margin cmsmasters_row_columns_behavior">
<div id="cmsmasters_column_zug9rhgs2i" class="cmsmasters_column one_half">
<div class="cmsmasters_column_inner"><div id="cmsmasters_heading_hmktlmwzs9" class="cmsmasters_heading_wrap cmsmasters_heading_align_left">
	<h2 class="cmsmasters_heading">Get Funded</h2>
</div><div id="cmsmasters_fb_j3hpwtj7t4" class="cmsmasters_featured_block">
<div class="featured_block_inner">
<div class="featured_block_text"><p>With multiple offers in hand, you can shop for the right product and best rate. We&#8217;ll help you do the math and decide what&#8217;s right.</p>
</div>
</div>
</div>
</div></div>
<div id="cmsmasters_column_fvmge0cv8e" class="cmsmasters_column one_half">
<div class="cmsmasters_column_inner"></div></div>
</div>
</div>
</div>
</div>
</div>
<div id="cmsmasters_row_ld21gpjmjr" class="cmsmasters_row cmsmasters_color_scheme_default cmsmasters_row_top_default cmsmasters_row_bot_default cmsmasters_row_fullwidth">
<div class="cmsmasters_row_outer_parent">
<div class="cmsmasters_row_outer">
<div class="cmsmasters_row_inner cmsmasters_row_fullwidth">
<div class="cmsmasters_row_margin">
<div id="cmsmasters_column_qfc2evp8qq" class="cmsmasters_column one_first">
<div class="cmsmasters_column_inner"><div id="cmsmasters_divider_rtcws8t4jx" class="cmsmasters_divider cmsmasters_divider_width_long cmsmasters_divider_pos_center"></div>
</div></div>
</div>
</div>
</div>
</div>
</div>
<div id="cmsmasters_row_gu2vtsudh" class="cmsmasters_row cmsmasters_color_scheme_default cmsmasters_row_top_default cmsmasters_row_bot_default cmsmasters_row_boxed">
<div class="cmsmasters_row_outer_parent">
<div class="cmsmasters_row_outer">
<div class="cmsmasters_row_inner">
<div class="cmsmasters_row_margin">
<div id="cmsmasters_column_b1fa8jpwe7" class="cmsmasters_column one_first">
<div class="cmsmasters_column_inner"><div class="cmsmasters_quotes_slider_wrap">
<div id="cmsmasters_quotes_slider_2ejwaqibjo" class="cmsmasters_owl_slider owl-carousel cmsmasters_quotes cmsmasters_quotes_slider" data-auto-play="5000"><div class="cmsmasters_quote cmsmasters_owl_slider_item">
<!-- Start Quote Slider Article -->
<article class="cmsmasters_quote_inner">
<div class="cmsmasters_quote_img_info_wrap"><figure class="cmsmasters_quote_image"><img decoding="async" width="150" height="150" src="{% static 'home/' %}wp-content/uploads/2015/11/quote-1.jpg" class="attachment-cmsmasters-square-thumb size-cmsmasters-square-thumb" alt="" srcset="{% static 'home/' %}wp-content/uploads/2015/11/quote-1.jpg 150w, {% static 'home/' %}wp-content/uploads/2015/11/quote-1-90x90.jpg 90w" sizes="(max-width: 150px) 100vw, 150px" /></figure><div class="cmsmasters_quote_info_wrap"><div class="cmsmasters_quote_content"><p>Easy online application. Wonderful, personal service from start to finish. Real people who care about making you comfortable along the way.</p>
</div><header class="cmsmasters_quote_header"><h4 class="cmsmasters_quote_title">Jill Sanders</h4></header><div class="cmsmasters_quote_subtitle_wrap"><h6 class="cmsmasters_quote_subtitle">Manager</h6><span class="cmsmasters_quote_site"><a href="http://paycheck-loan.cmsmasters.net/about-us/" target="_blank">Finance Company</a></span></div></div></div></article>
<!-- Finish Quote Slider Article -->

</div>
<div class="cmsmasters_quote cmsmasters_owl_slider_item">
<!-- Start Quote Slider Article -->
<article class="cmsmasters_quote_inner">
<div class="cmsmasters_quote_img_info_wrap"><figure class="cmsmasters_quote_image"><img decoding="async" width="150" height="150" src="{% static 'home/' %}wp-content/uploads/2015/11/quote-2.jpg" class="attachment-cmsmasters-square-thumb size-cmsmasters-square-thumb" alt="" srcset="{% static 'home/' %}wp-content/uploads/2015/11/quote-2.jpg 150w, {% static 'home/' %}wp-content/uploads/2015/11/quote-2-90x90.jpg 90w" sizes="(max-width: 150px) 100vw, 150px" /></figure><div class="cmsmasters_quote_info_wrap"><div class="cmsmasters_quote_content"><p>In the old days, when you took out a mortgage, it was probably through a local bank or a credit union, and whoever gave you your loan held on to it for life.</p>
</div><header class="cmsmasters_quote_header"><h4 class="cmsmasters_quote_title">Grace Hall</h4></header><div class="cmsmasters_quote_subtitle_wrap"><h6 class="cmsmasters_quote_subtitle">Manager</h6><span class="cmsmasters_quote_site"><a href="http://paycheck-loan.cmsmasters.net/about-us/" target="_blank">Finance Company</a></span></div></div></div></article>
<!-- Finish Quote Slider Article -->

</div>
<div class="cmsmasters_quote cmsmasters_owl_slider_item">
<!-- Start Quote Slider Article -->
<article class="cmsmasters_quote_inner">
<div class="cmsmasters_quote_img_info_wrap"><figure class="cmsmasters_quote_image"><img decoding="async" width="150" height="150" src="{% static 'home/' %}wp-content/uploads/2015/11/quote-3.jpg" class="attachment-cmsmasters-square-thumb size-cmsmasters-square-thumb" alt="" srcset="{% static 'home/' %}wp-content/uploads/2015/11/quote-3.jpg 150w, {% static 'home/' %}wp-content/uploads/2015/11/quote-3-90x90.jpg 90w" sizes="(max-width: 150px) 100vw, 150px" /></figure><div class="cmsmasters_quote_info_wrap"><div class="cmsmasters_quote_content"><p>Families rely on financial services more than ever, but those who need them most &#8211; who struggle to make ends meet &#8211; too often must contend with sky-high interest rates.</p>
</div><header class="cmsmasters_quote_header"><h4 class="cmsmasters_quote_title">Nina Walker</h4></header><div class="cmsmasters_quote_subtitle_wrap"><h6 class="cmsmasters_quote_subtitle">Design</h6><span class="cmsmasters_quote_site"><a href="http://paycheck-loan.cmsmasters.net/about-us/" target="_blank">Finance Company</a></span></div></div></div></article>
<!-- Finish Quote Slider Article -->

</div>
<div class="cmsmasters_quote cmsmasters_owl_slider_item">
<!-- Start Quote Slider Article -->
<article class="cmsmasters_quote_inner">
<div class="cmsmasters_quote_img_info_wrap"><figure class="cmsmasters_quote_image"><img loading="lazy" decoding="async" width="150" height="150" src="{% static 'home/' %}wp-content/uploads/2015/11/quote-4.jpg" class="attachment-cmsmasters-square-thumb size-cmsmasters-square-thumb" alt="" srcset="{% static 'home/' %}wp-content/uploads/2015/11/quote-4.jpg 150w, {% static 'home/' %}wp-content/uploads/2015/11/quote-4-90x90.jpg 90w" sizes="(max-width: 150px) 100vw, 150px" /></figure><div class="cmsmasters_quote_info_wrap"><div class="cmsmasters_quote_content"><p>A banker who is allowed to borrow money at X and loan it out at X plus Y will just go crazy and do too much of it if the civilization doesn&#8217;t have rules that prevent it.</p>
</div><header class="cmsmasters_quote_header"><h4 class="cmsmasters_quote_title">Daniel Sims</h4></header><div class="cmsmasters_quote_subtitle_wrap"><h6 class="cmsmasters_quote_subtitle">Manager</h6><span class="cmsmasters_quote_site"><a href="http://paycheck-loan.cmsmasters.net/about-us/" target="_blank">Finance Company</a></span></div></div></div></article>
<!-- Finish Quote Slider Article -->

</div>
</div>
</div><div id="cmsmasters_divider_kcm6h80tqo" class="cl"></div><div class="cmsmasters_clients_grid_wrap">
<div id="cmsmasters_clients_95eb9uk0uc" class="cmsmasters_clients_grid clients_five">
<div class="cmsmasters_clients_items slides">
<div class="cmsmasters_clients_item item"><img decoding="async" src="{% static 'home/' %}wp-content/uploads/2015/04/1.png" alt="Adobe" title="Adobe" /></div><div class="cmsmasters_clients_item item"><img decoding="async" src="{% static 'home/' %}wp-content/uploads/2015/04/2.png" alt="Envato" title="Envato" /></div><div class="cmsmasters_clients_item item"><img decoding="async" src="{% static 'home/' %}wp-content/uploads/2015/04/3.png" alt="jQuery" title="jQuery" /></div><div class="cmsmasters_clients_item item"><img decoding="async" src="{% static 'home/' %}wp-content/uploads/2015/04/4.png" alt="WordPress" title="WordPress" /></div><div class="cmsmasters_clients_item item"><img decoding="async" src="{% static 'home/' %}wp-content/uploads/2015/04/6.png" alt="GitHub" title="GitHub" /></div></div>
</div>
</div>
</div></div>
</div>
</div>
</div>
</div>
</div>

<div class="cl"></div><div class="content_wrap fullwidth">

<div class="middle_content entry"></div>
<!-- Finish Content -->

</div></div></div>
{% endblock %}